<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (tap)="dismiss()"><ion-icon name="ios-close"></ion-icon></button>
    </ion-buttons>
    <ion-title *ngIf="!history">Edit Data Sales</ion-title>
    <ion-title *ngIf="history">Detail Data Sales</ion-title>
    <ion-buttons start *ngIf="param.page != 1">
      <button ion-button icon-left (tap)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
    </ion-buttons>
    <ion-buttons end *ngIf="param.page != 3">
      <button ion-button icon-right (tap)="next()">Next <ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end *ngIf="param.page == 3 && !history">
      <button ion-button icon-right (tap)="edit()">Edit <ion-icon name="md-checkmark"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-slides #signupSlider (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <ion-list no-line padding style="padding-top: 0px">
        <form style="padding-top: 0px" [formGroup]="slideOneForm">

          <ion-label stacked text-left color="button">Tanggal Konsumen Datang : </ion-label>
          <ion-item no-line class="rounded">
            <ion-datetime displayFormat="DD MMMM YYYY" formControlName="tanggal_datang_show"></ion-datetime>
            <ion-input block round type="hidden" placeholder="" formControlName="tanggal_datang"></ion-input>
            <button ion-button icon-only style="margin: auto; padding-right: 5px" clear item-right disabled>
              <ion-icon name="ios-calendar-outline" color="button" style="font-size: 2.5em"></ion-icon>
            </button>
          </ion-item>

          <ion-label stacked text-left color="button">Target FU : </ion-label>
          <ion-item no-line class="rounded">
            <ion-datetime displayFormat="DD MMMM YYYY" formControlName="target_fu"></ion-datetime>
            <button ion-button icon-only style="margin: auto; padding-right: 5px" clear item-right disabled>
              <ion-icon name="ios-calendar-outline" color="button" style="font-size: 2.5em"></ion-icon>
            </button>
          </ion-item>

          <ion-label stacked text-left color="button">Nama Konsumen :</ion-label>
          <ion-item no-line class="rounded">
            <ion-input block round type="text" placeholder="" formControlName="nama_konsumen_show"></ion-input>
            <ion-input block round type="hidden" placeholder="" formControlName="nama_konsumen"></ion-input>
          </ion-item>
          <ion-label stacked text-center color="primary" style="margin-top: -1px"
            *ngIf="!slideOneForm.controls.nama_konsumen.valid  && (slideOneForm.controls.nama_konsumen.dirty || submitAttempt)"
          >
            Nama Konsumen is required.
          </ion-label>

          <ion-label stacked text-left color="button">No. Hp 1 : </ion-label>
          <ion-item no-line class="rounded">
            <ion-input block round type="tel" placeholder="" formControlName="noHp1_show"></ion-input>
            <ion-input block round type="hidden" placeholder="" formControlName="noHp1"></ion-input>
          </ion-item>
          <ion-label stacked text-center color="primary" style="margin-top: -1px"
            *ngIf="!slideOneForm.controls.noHp1.valid  && (slideOneForm.controls.noHp1.dirty || submitAttempt)"
          >
            No. Hp 1 is required.
          </ion-label>

          <ion-label stacked text-left color="button">Cara Bayar : </ion-label>
          <ion-item no-line text-left class="rounded">
            <ion-label><span style="display: none;">Cara Bayar</span></ion-label>
            <ion-select formControlName="cara_bayar_show" text-right>
              <ion-option *ngFor="let bayar of listBayar" [value]="bayar">{{bayar}}</ion-option>
            </ion-select>
            <ion-input block round type="hidden" placeholder="" formControlName="cara_bayar"></ion-input>
          </ion-item>
          <ion-label stacked text-center color="primary" style="margin-top: -1px"
            *ngIf="!slideOneForm.controls.cara_bayar.valid  && (slideOneForm.controls.cara_bayar.dirty || submitAttempt)"
          >
            Cara Bayar is required.
          </ion-label>

          <ion-label stacked text-left>Minat Motor :</ion-label>
          <ion-item no-line style="border-bottom-color: #0066b1;" class="rounded">
            <ion-label><span style="display: none;">Minat Motor</span></ion-label>
            <ionic-selectable
              [isEnabled]="false"
              item-content
              text-wrap
              text-left
              formControlName="nama_motor_show"
              itemValueField="id"
              itemTextField="motor_name"
              [items]="listMotor"
              [canSearch]="true"
              [isMultiple]="false">
            </ionic-selectable>
            <ion-input block round type="hidden" placeholder="" formControlName="nama_motor"></ion-input>
          </ion-item>
          <ion-label stacked text-center color="primary" style="margin-top: -1px"
            *ngIf="!slideOneForm.controls.nama_motor.valid  && (slideOneForm.controls.nama_motor.dirty || submitAttempt)"
          >
            Minat Motor is required.
          </ion-label>

          <ion-label stacked text-left color="button">Source Order Konsumen :</ion-label>
          <ion-item no-line style="border-bottom-color: #0066b1;" class="rounded">
            <ion-label><span style="display: none;">Source Order Konsumen</span></ion-label>
            <ionic-selectable
              [isEnabled]="false"
              item-content
              text-wrap
              formControlName="source_order_show"
              itemValueField="id"
              itemTextField="source_name"
              [items]="listSource"
              [canSearch]="true"
              [isMultiple]="false">
            </ionic-selectable>
            <ion-input block round type="hidden" placeholder="" formControlName="source_order"></ion-input>
          </ion-item>
          <ion-label stacked text-center color="primary" style="margin-top: -1px"
            *ngIf="!slideOneForm.controls.source_order.valid  && (slideOneForm.controls.source_order.dirty || submitAttempt)"
          >
            Source Order Konsumen.
          </ion-label>

        </form>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list no-line padding style="padding-top: 0px">
        <form style="padding-top: 0px" [formGroup]="slideTwoForm">

          <ion-label stacked text-left color="button">Email Konsumen :</ion-label>
          <ion-item no-line class="rounded">
            <ion-input block round type="email" placeholder="" formControlName="email_konsumen"></ion-input>
          </ion-item>

          <ion-label stacked text-left color="button">Tempat Lahir :</ion-label>
          <ion-item no-line class="rounded">
            <ion-input block round type="text" placeholder="" formControlName="tempat_lahir"></ion-input>
          </ion-item>

          <ion-label stacked text-left color="button">Tanggal Lahir : </ion-label>
          <ion-item no-line class="rounded">
            <ion-datetime displayFormat="DD MMMM YYYY" formControlName="tanggal_lahir"></ion-datetime>
            <button ion-button icon-only style="margin: auto; padding-right: 5px" clear item-right disabled>
              <ion-icon name="ios-calendar-outline" color="button" style="font-size: 2.5em"></ion-icon>
            </button>
          </ion-item>

          <ion-label stacked text-left color="button">No. Hp 2 : </ion-label>
          <ion-item no-line style="border-bottom-color: #0066b1;" class="rounded">
            <ion-input block round type="tel" placeholder="" formControlName="noHp2"></ion-input>
          </ion-item>

        </form>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list no-line padding style="padding-top: 0px">
        <form style="padding-top: 0px" [formGroup]="slideThreeForm">

          <ion-label stacked text-left>Nama Provinsi :</ion-label>
        <ion-item no-line style="border-bottom-color: #0066b1;" class="rounded">
          <ion-label><span style="display: none; width: 10px">Nama Provinsi</span></ion-label>
          <ionic-selectable
            item-content
            formControlName="nama_provinsi"
            itemValueField="id"
            itemTextField="name"
            [items]="listProvinsi"
            [canSearch]="true"
            (onChange)="provinsiChange($event)"
            [isMultiple]="false">
          </ionic-selectable>
        </ion-item>

        <ion-label stacked text-left>Nama Kabupaten :</ion-label>
        <ion-item no-line style="border-bottom-color: #0066b1;" class="rounded">
          <ion-label><span style="display: none;">Nama Kabupaten</span></ion-label>
          <ionic-selectable
            item-content
            text-wrap
            formControlName="nama_kabupaten"
            itemValueField="id"
            itemTextField="name"
            [items]="listKabupaten"
            [canSearch]="true"
            (onChange)="kabupatenChange($event)"
            [isMultiple]="false">
          </ionic-selectable>
        </ion-item>

        <ion-label stacked text-left>Nama Kecamatan :</ion-label>
        <ion-item no-line style="border-bottom-color: #0066b1;" class="rounded">
          <ion-label><span style="display: none;">Nama Kecamatan</span></ion-label>
          <ionic-selectable
            item-content
            text-wrap
            formControlName="nama_kecamatan"
            itemValueField="id"
            itemTextField="name"
            [items]="listKecamatan"
            [canSearch]="true"
            (onChange)="kecamatanChange($event)"
            [isMultiple]="false">
          </ionic-selectable>
        </ion-item>

        <ion-label stacked text-left>Nama Kelurahan :</ion-label>
        <ion-item no-line style="border-bottom-color: #0066b1;" class="rounded">
          <ion-label><span style="display: none;">Nama Kelurahan</span></ion-label>
          <ionic-selectable
            item-content
            text-wrap
            formControlName="nama_desa"
            itemValueField="id"
            itemTextField="name"
            [items]="listDesa"
            [canSearch]="true"
            [isMultiple]="false">
          </ionic-selectable>
        </ion-item>

        <ion-label stacked text-left color="button">Nama Jalan :</ion-label>
        <ion-item no-line style="border-bottom-color: #0066b1;" class="rounded">
          <ion-input block round type="text" placeholder="" formControlName="nama_jalan"></ion-input>
        </ion-item>

        </form>
      </ion-list>
    </ion-slide>

  </ion-slides>
</ion-content>
